<div class='image-txt-container'>
  <img src='assets/avatar.jpeg' class='img-avatar mat-elevation-z24' alt="Avatar">
  <p class="description">Seeking to expand my knowledge, especially information technology, contribute to the creation of great
    software, while also developing my career within the IT industry for making the world a better place.</p>
</div>

<div class="contact_me_container">
  <p class="contact-description">More about me on:</p>
  <a class="fa fa-facebook mat-elevation-z24" href="https://www.facebook.com/octavian.demisca/" target="_blank"></a>
  <a class="fa fa-instagram mat-elevation-z24" href="https://www.instagram.com/octaviandemisca/" target="_blank"></a>
  <a class="fa fa-linkedin mat-elevation-z24" href="https://www.linkedin.com/in/octavian-demisca/" target="_blank"></a>
  <a class="fa fa-github mat-elevation-z24" href="https://github.com/octaviande/" target="_blank"></a>
</div>
