<div class="divider"></div>

<mat-expansion-panel class="panel mat-elevation-z24">
  <mat-expansion-panel-header>
    <mat-panel-title>PersonalWebsite</mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-icon-button class="navigate-project-button" matTooltip="Go to PersonalWebsite project"
     href="https://github.com/octaviande/octaviande.github.io/" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <p>Technologies: Angular, Angular Material</p>
  <p>A personal Angular web application; its purpose is to document my projects and similar information.</p>
</mat-expansion-panel>

<mat-expansion-panel class="panel mat-elevation-z24">
  <mat-expansion-panel-header>
    <mat-panel-title>NearByConnection</mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-icon-button class="navigate-project-button" matTooltip="Go to NearByConnection project"
     href="https://github.com/octaviande/nearbyconnection/" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <p>Technologies: Kotlin, Android, NearByConnectionsAPI</p>
  <p>The main goal for this project was to have some knowledge of this part of Android development. The smartphone will
    be used as a remote controller while connected to the Android TV.</p>
</mat-expansion-panel>

<mat-expansion-panel class="panel mat-elevation-z24">
  <mat-expansion-panel-header>
    <mat-panel-title>GitHubKotlin</mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-icon-button class="navigate-project-button" matTooltip="Go to GitHubKotlin project"
     href="https://github.com/octaviande/githubkotlin/" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <p>Technologies: Kotlin, Android, Retrofit, Navigation Component</p>
  <p>A minimalist GitHub application that uses GitHubApi to display information about user's profile and
    repositories.</p>
</mat-expansion-panel>

<mat-expansion-panel class="panel mat-elevation-z24">
  <mat-expansion-panel-header>
    <mat-panel-title>Spotify-Poll</mat-panel-title>
  </mat-expansion-panel-header>
  <a mat-icon-button class="navigate-project-button" matTooltip="Go to Spotify-Poll project"
     href="https://github.com/octaviande/spotify-poll/" target="_blank">
    <mat-icon>open_in_new</mat-icon>
  </a>
  <p>Technologies: Java, Spring</p>
  <p>Spotify poll is basically a simple web app storing poll from users about their preferences on music (songs, artists
    and so on).</p>
</mat-expansion-panel>
